.question {
	position  : relative;
	max-width : 700px;
	min-height: 350px;
	height    : auto;
	width     : 90vw;
	left      : 50vw;
	margin-top: 20px;

	border-radius   : 20px;
	box-shadow: 0px 0px 10px black;

	transform       : translateX(-50%);
	background-color: var(--questionaire-color);
}

.question div {
	position  : absolute;
	height    : 85%;
	width     : 90%;
	padding   : 5%;

	display        : flex;
	font-size      : var(--font-size);
	font-family    : 'HandMade';
	align-items    : center;
	justify-content: center;
	text-align     : center;

	background-size: 80% 100%;
	background-position: center;
/*	background-clip: ;*/
	border-radius: 10%;

}
