@font-face {
    font-family : 'HandMade';
    src         : url('Autum Bright.ttf') format('truetype');
}

:root {
	--background        : black;
	--questionaire-color: #676766;
	--choice-color      : #454545;

	--choice-color-hover: #FF69CE;
	--design-color      : #FF69CE;
	--nav-color         : #FE017F;


	--font-size         : 2rem;
}

[theme="bajoy"] {
	--background        : #040405dd;
	--questionaire-color: #ffffff;
	--choice-color      : #FF69CE;

	--choice-color-hover: #ffffff;
	--design-color      : #FF69CEcc;
	--nav-color         : #FF69CE;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	background-color: var(--background);

	user-scalable: no;
}

.design {
	position: absolute;
	width: 100vw;
	height: 80vh;
	top: 0px;
	left: 0px;
	background-color: var(--design-color);

	border-radius: 30%;
	transform: translateY(-50%);
}

.topNav {
	position  : relative;
	max-width : 700px;
	height    : 30px;
	width     : 90vw;
	left      : 50vw;
	margin-top: 30px;

	font-size: ;
	border-radius   : 20px;
	transform       : translateX(-50%);
}

.topNav div {
	position: absolute;
	display        : flex;
	font-size      : var(--font-size);
	font-family    : 'HandMade';
	align-items    : center;
	justify-content: center;
	text-align     : center;

	color: white;
	text-shadow: 0px 0px 5px white;
}

.topNav .questionDiv {
	margin-left: 10px;
}
.topNav .nextDiv {
	left: calc(100% - 14%);
	width: 14%;
	cursor: pointer;
}
.topNav .prevDiv {
	left: calc(100% - 28%);
	width: 14%;
	cursor: pointer;
}

.topNav .nextDiv:hover,
.topNav .prevDiv:hover {
	text-shadow: 0px 0px 5px #FE017F;
	color: #FE017F;
}

.question {
	position  : relative;
	max-width : 700px;
	min-height: 300px;
	height    : auto;
	width     : 90vw;
	left      : 50vw;
	margin-top: 10px;

	border-radius   : 20px;

	transform       : translateX(-50%);
	background-color: var(--questionaire-color);
}

.question div {
	position  : absolute;
	height    : 90%;
	width     : 90%;
	padding   : 5%;

	display        : flex;
	font-size      : var(--font-size);
	font-family    : 'HandMade';
	align-items    : center;
	justify-content: center;
	text-align     : center;
}

.selection {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	row-gap   : 20px;
	position  : relative;
	max-width : 700px;
	min-height: 350px;
	height    : auto;
	width     : 90vw;
	left      : 50vw;

	margin-top: 20px;
	transform: translateX(-50%);

	display: none;
}

.true-false {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	column-gap: 20px;
	position  : relative;
	max-width : 700px;
	height    : 100px;
	width     : 90vw;
	left      : 50vw;

	margin-top: 20px;
	transform : translateX(-50%);

	display: none;
}

.identification {
	position  : relative;
	max-width : 700px;
	min-height: 50px;
	height    : auto;
	width     : 90vw;
	left      : 50vw;
	margin-top: 20px;
	transform : translateX(-50%);

	outline         : none;
	border          : none;
	border-radius   : 20px;
	text-indent     : 20px;
	background-color: var(--choice-color);

	display        : flex;
	font-size      : var(--font-size);
	font-family    : 'HandMade';
	align-items    : center;
	justify-content: center;

	display: none;
}

.selection div,
.true-false div {

	position        : relative;
	border-radius   : 20px;
	height          : auto;
	background-color: var(--choice-color);

	display        : flex;
	font-size      : calc(var(--font-size) - 0.2rem);
	font-family    : 'HandMade';
	align-items    : center;
	justify-content: center;
	text-align: center;
	cursor: pointer;
	border: 2px solid transparent;
}

.selection div:hover,
.true-false div:hover {
	box-shadow: 0px 0px 10px var(--choice-color-hover);
	border: 2px solid var(--choice-color-hover);
}

.backresult {
	display : none;
	position: absolute;
	width   : 100vw;
	height  : 100vh;
	top     : 0px;
	left    : 0px;
	background-color: #00000055;
}

.result {
	position: absolute;
	max-width : 400px;
	height    : 220px;
	width     : 90vw;
	left      : 50vw;
	top       : 50vh;

	border-radius: 20px;

	transform: translate(-50%, -50%);
	background-color: white;
	box-shadow: 0 0 20px black;
}

.result div {
	display        : flex;
	align-items    : center;
	justify-content: center;
	font-size      : calc(var(--font-size) - 0.2rem);
	font-family    : 'HandMade';
}

.result .resultTxt {
	position: relative; 
	width: 100%;
	height: 50px;
	background-color: #FE017F;
	border-radius: 20px;
	margin-bottom: 10px;
}

.result .resultNoInc,
.result .resultNoCor {
	justify-content: left;
	position: relative;
	margin-top: 5px;
	margin-left: 10px;
	width: 100%;
	height: 40px;
	border-radius: 20px;	
}

.result .buttons {
	display: grid;
	margin-top: 30px;
	grid-template-columns: 1fr 1fr;

	margin-left: 10px;
	margin-right: 10px;
	column-gap: 10px;
}

.result .buttons div {
	border-radius   : 20px;
	background-color: var(--choice-color);

	display        : flex;
	font-size      : calc(var(--font-size) - 0.2rem);
	font-family    : 'HandMade';
	align-items    : center;
	justify-content: center;
	cursor: pointer;
}

.result .buttons div:hover {
	background-color: #FE017F;
}

.credits {
	position  : relative;
	height    : 10px;
	width     : 100vw;
	margin-top: 100px;
}

@media (max-width: 800px) {
	.design {
		border-radius: 20%;
	}
}

@media (max-width: 600px) {
	:root {
		--font-size : 1.3rem;
	}
	.design {
		border-radius: 10%;
	}
}